# Configuración del Servidor Backend
PORT=3000
NODE_ENV=development

# Cadena de Conexión a Base de Datos (Supabase Cloud Pooler)
DATABASE_URL=postgresql://postgres.zzrhlgpteqbzikrzsooa:TransitoTechPass2026@aws-0-us-east-2.pooler.supabase.com:5432/postgres

# Seguridad y Autenticación JWT
JWT_SECRET=transitotech_jwt_secret_key_2026_local