# Node.js / Backend
backend/node_modules/
backend/dist/
backend/.env

# Flutter / Frontend
frontend/.dart_tool/
frontend/.idea/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Entorno / Sistema
.DS_Store
*.log